<!doctype html>
<html>
<head>
  <title>Oiivoy Login</title>
  <link href='css/reset.css' rel='stylesheet' type='text/css'>
  <link href='css/unsemantic-grid-responsive.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div class="container main">
      <section id="header">
        <a href="/" id="logo" class="purple prefix-10 grid-20 suffix-35 mobile-grid-100">Oiivoy</a>
        <div class="navbuttons grid-30 mobile-grid-100">
          <a href="/login" class="navbuttons">Login</a>
          <a href="/signup" class="navbuttons" id="join">Join</a>
        </div>
      </section>
      <section class= "headline grid-70 prefix-15 suffix-15">
        <h1>About Oiivoy</h1>
      </section>
    </div>
  </body>
</html>
