<!doctype html>
<html>
<head>
  <title>Oiivoy Login</title>
  <link href='css/reset.css' rel='stylesheet' type='text/css'>
  <link href='css/unsemantic-grid-responsive.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div class="container">
      <section id="header">
        <a href="/" id="logo" class="purple prefix-10 grid-20 suffix-35 mobile-grid-100">Oiivoy</a>
        <div class="navbuttons grid-30 mobile-grid-100">
          <a href="/login" class="navbuttons">Login</a>
          <a href="/signup" class="navbuttons" id="join">Join</a>
        </div>
      </section>
      <section class= "headline grid-70 prefix-15 suffix-15">
        <div class="centertitle">
          <h1>Privacy</h1>
        </div>
        <p>Your time is valuable so we’ll keep this simple.</p>
        
        <p>We’ll use this information only to add you to our list of interested potential clients, send you occasional emails and/or text messages about product details that include an opt-out link, and to let you know when our service is ready to use.</p>
        <p>We will not share your contact information with 3rd party services that are not directly required for us to perform business.</p>
        <p>We protect your personal information by reasonable security safeguards against loss or theft, as well as against unauthorized access, disclosure, copying, use or modification.</p>
        <p>Any time you’d like to request information about our policies and practices relating to the management of your personal information, we will readily provide that.<p>
        <p>Every email and/or text we send will include a link to opt out of any future communication. You can also contact team@oiivoy.com directly if you wish for your data to be 100% deleted.</p>
        <p>We are committed to conducting our business in a way that ensures that your personal information’s confidentiality is protected and maintained. This policy may be changed in the future, and we will keep this page updated to keep our privacy practices transparent.</p>
      </section>
    </div>
  </body>
</html>
