<!doctype html>
<html>
<head>
  <title>Oiivoy Profile</title>
  <link href='css/reset.css' rel='stylesheet' type='text/css'>
  <link href='css/unsemantic-grid-responsive.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
  <body>
    <section id="header">
      <a href="/" id="logo" class="purple prefix-10 grid-20 suffix-35 mobile-grid-100">Oiivoy</a>
      <div class="navbuttons grid-30 mobile-grid-100">
        <a href="/logout" class="navbuttons">Logout</a>
      </div>
    </section>
    <section class= "headline main grid-70 prefix-15 suffix-15">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Your Oiivoy</h1>
      </div>
      <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h2>Welcome <%= user.local.email %>!</h2>
            <p>We're still working out the kinks here at Oiivoy. We promise to let you know as soon as we're ready to help you manage your money.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
