<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <title>Oiivoy Signup</title>
  <link href='css/reset.css' rel='stylesheet' type='text/css'>
  <link href='css/unsemantic-grid-responsive.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <section id="header">
    <a href="/" id="logo" class="purple prefix-10 grid-20 suffix-35 mobile-grid-100">Oiivoy</a>
  </section>
  <div class="container main">
    <section class= "headline grid-70 prefix-15 suffix-15">
      <h1>Create Your Account</h1>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <!-- LOGIN FORM -->
    <form action="/signup" autocomplete="off" class="prefix-10 grid-80 suffix-10 mobile-grid-100 formstyle" method="post">
      <input type="text" autocomplete="off" name="email">
      <input type="password" name="password">
      <button id="signup" type="submit">Join</button>
      <p>Already have an account? <a class="purple" href="/login">Login</a></p>
    </form>
    <p>By submitting this information, you agree to our <a class="purple" href="/privacy">Privacy Policy.</a></p>
  </div>
</body>
</html>
