
/*LAYOUT*/

html { 
  background: white;
}

a {
  color: #cc33ff;
  font-size: .8em;
}

a:hover {
  color: white;
}


h1 {
  color: white;
  line-height: 1.2em;
  font-family: 'Gill Sans';
  font-weight: 400;
  font-size: 4vw;
  padding: 25px 25px 25px 25px;
}

h2 {
  line-height: 1.3em;
  font-family: 'Gill Sans';
  font-weight: 300;
  font-size: 2.5vw;
}

#logo {
  font-family: 'Lobster';
  font-size: 3.3em;
  font-style: normal;
  font-variant: normal;
  padding-left: 5%;
  margin-top: .3em;
  background-image:
    url("OiivoyLogo.png")
}

.main {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;
  text-align: center;
}

.headline {
  padding: 2.0em;

.purple {
  color: #cc33ff;
}

.black {
  color: #000000;
}

button {
  color: rgba(204,51,255,1);
  background: rgba(0,0,0,0.7);
  margin-top: 1em;
  padding: .3em 1.5em .3em 1.5em;
  font-family: 'Gill Sans';
  font-weight: 400;
  font-size: 2em;
}

button:hover {
  color:white;
}

.bubble {
  position: relative;
  color:#FFFFFF;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding:.7em .4em .7em .4em;
  background-color: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.7));
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.7));
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  padding: 1em;
  bottom: 0em;
  height: 1.5em;
}
